// Cores
$primary-color: #6a0dad; // Azul principal
$hover: #9846d3;
$background-color: #f5f5f5; // Cor de fundo
$background-grey: #747171;
$color-black: #000;
$degrade: linear-gradient(to bottom, $primary-color, $color-black);

// Tamanhos
$mobile-width: 768px;
